*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  font-weight: bold;
}
nav p {
  font-size: 20px;
}
nav div {
  display: flex;
  gap: 30px;
}
nav div a {
  position: relative;
}
nav div a:first-child::before,
nav div a:nth-child(2)::before,
nav div a:last-child::before {
  content: "";
  height: 2px;
  width: 40px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 0.3s;
}
nav div a:nth-child(2)::before {
  width: 90px;
}
nav div a:last-child::before {
  width: 45px;
}
nav div a.active::before {
  transform: scale(1);
}

.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.post img {
  width: 600px;
  object-fit: cover;
}
.post p {
  color: gray;
  font-size: 15px;
}
.post {
  position: relative;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.post::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: -10px;
}
.blog-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.blog-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.postForm-heading {
  align-items: center;
  margin-bottom: 10px;
}
.blog img {
  width: 100%;
  align-self: center;
}
.blog p {
  line-height: 1.5rem;
}
.error {
  display: flex;
  justify-content: center;
}
.error div {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error div button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
.postDate {
  display: flex;
  align-items: center;
  gap: 10px;
}
.calendarIcon {
  width: 20px;
  height: 20px;
}
/* .editIcon,
.deleteIcon {
  width: 25px;
  height: 25px;
} */
/* .editAndDelete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
} */
.actions-Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.arrow-left-icon,
.editIcon,
.deleteIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
}
.arrow-left-icon:hover,
.editIcon:hover,
.deleteIcon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.postFrom-main {
  width: 40%;
  margin-bottom: 30px;
}
.postForm div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.postForm div span {
  color: rgb(220, 62, 62);
}
.postForm div input {
  padding: 8px;
  font-size: 1em;
  outline: none;
  border: 1px solid #333;
}
.postForm div label {
  font-size: 15px;
}
.postForm button,
.formalBtn {
  padding: 15px 0;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.formalBtn {
  padding: 15px;
}
.postForm button:hover,
.formalBtn:hover {
  background-color: #fff;
  color: #000;
}
.postForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
textarea {
  resize: none;
  outline: none;
  padding: 10px;
}

.login-form input {
  width: 400px;
}

.loginAndRegister a {
  text-decoration: underline;
}
.loginAndRegister a:hover {
  opacity: 0.7;
}

.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: black;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prepage-main {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prepage-description p {
  width: 400px;
}
.prepage-main div {
  width: 55%;
  display: flex;
  gap: 10px;
}
.prepage-main img {
  width: 400px;
}
.prepage-sub {
  display: flex;
  flex-direction: column;
}
.btn-groups a button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: aqua;
}
.btn-groups a button:first-child {
  background-color: #333;
  color: #fff;
}
